/* Importando arquivos de font de texto externo para o projeto. */
@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url('../fonts/texto/SpaceGrotesk-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('../fonts/texto/SpaceGrotesk-Regular.ttf') format('truetype');
}

/* Definindo o tipo de fonte de texto para o copo da página. */
body {
    font-family: "SpaceGrotesk-Regular", serif;
}

/* Definindo o tipo de fonte de texto para as tags de títulos do hatml. */
h1, h2, h3, h4, h5, h6 {
    font-family: "SpaceGrotesk-Bold", serif;
}

/* Alinhando as lables do fomulário de cadastro para a direita. */
label {
    text-align: right;
}

/* Ajustando as margens do formulário na tela. Assim, criando um espaço entre a margem da tela com a margem do componente. */
.card {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Definindo o espaço entre os componentes do formulário. Assim, os deixando sem muito espaço entre as linhas. */
.row {
    margin: 5px;
}

/* Ajustando as margens do alert presente no formulário. */
.alert {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Alinhando link de navegação do painel de pesquisa para o painel de novo título. */
.aling-link-panel-right {
    float: right;
    padding: 0px;
}

/* Alinhando o título do do componente panel. */
.titulo-panel {
    float: left;
    margin-top: 2px;
}

/* O input referente a pesquisa de títulos não estava alinhando corretamente com a margem esquerda da tabela.
 * Foi verificado que é devido a formatação padrão do col-sm-4, onde o atributo padding-left possui 15px.
  * Devido a isso foi criado este estilo para compensar essa diferença.
*/
.new-formated-align-col-sm-4 {
    padding-left: 0px !important;
}

/* Implementação da responsividade */
@media only screen and (max-width: 900px) {
    /* Alinhando as lables do fomulário de cadastro para a esquerda.
     * Quando for uma tela menor que 900px.
     */
    label {
        text-align: left;
    }

    /* Ajustando as margens do formulário na tela.
     * Quando for uma tela menor que 900px.
     */
    .card {
        margin: 0px;
    }
}